.about {
    font-family: Outfit, sans-serif;
    color: #fff;
    background-color: #001a66;
    text-align: center;
    padding: 20px;
  }
  
  .about-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
    padding: 0 4rem; /* This adds 4rem padding to left and right */
   
  }
  
  .about-header h1 {
    font-size: 24px;
  }
  
  .about-header nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
  }
  
  .about-header nav ul li {
    display: inline;
  }
  
  .about-header h1 a, nav ul li a {
    color: #fff;
    text-decoration: none;
  }

  .logo-container {
    position: relative;
    display: flex;
    margin-left: 33.33%;
  }
  
  
  .about-main {
    margin: 30px 0;
  }
  
  .logo-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding: 0px 300px;
    margin: 0 auto; /* This will position it 1/3rd from the left */
  }
  
  .logo {
    width: 80px;
  }
  
  .vision h3 {
    font-size: 20px;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .feature-box {
    width: 30%;
    background-color: #002080;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .feature-box .icon {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .pill-icon::before {
    content: '💊';
  }
  
  .heart-icon::before {
    content: '❤️';
  }
  
  .pharmacy-icon::before {
    content: '➕';
  }
  
  .container {
    display: flex;
    align-items: center;
    gap: 5rem; /* Adjusts space between logo and text */
  }
  
  .text-block {
    color: white;
  }
  
  .text-block p {
    margin-bottom: 0.5rem;
  }
